body {
  font-family: sans-serif;
  width: 200px;
}

h1 {
  font-size: 16px;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #da190b;
}